@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	
}


#header{
	background-color: rgba(220, 4, 4, 1);
}

#search-container{
		
	display: flex;
	justify-content: center;
	
	
}



#search-input{
	

	border-radius: 5px;
	border: solid 1px #ffffff;
	height: 30px;
	width: 90%;
	max-width: 600px;
	background-color:rgb(255, 255, 255);
	padding-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	
}


#tags-container{
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	accent-color: rgba(220, 4, 4, 1)
}

#tags-container label{
	color: white;

	margin-inline: 1rem;
}
#tags-container input {

}

img{
	height: 200px;

}
#results-container{
	
	display: flex;
	justify-content: center;
	

	

}
#results{
	background-color: rgb(255, 255, 255);
	font-size: .8rem;
	font-weight: bold;
	flex-direction: row;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: space-around;
	
		
	
	

}